# Filtering Dataframes with SQL

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Spark SQL Query DataFrames').getOrCreate()

------

In [4]:
data_path = '../Data'
file_path = data_path + '/utilization.json'

In [5]:
df = spark.read.format('json').load(file_path)

In [6]:
df.show(5)

+----+-------------------+-----------+---------+-------------+
| cpu|     event_datetime|free_memory|server_id|session_count|
+----+-------------------+-----------+---------+-------------+
|0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|0.35|03/05/2019 08:26:14|       0.46|      100|           43|
+----+-------------------+-----------+---------+-------------+
only showing top 5 rows

-----

In [7]:
df.createOrReplaceTempView('vw_utilization')

In [9]:
results = spark.sql('SELECT * FROM vw_utilization WHERE server_id=200')

In [10]:
results.show()

+----+-------------------+-----------+---------+-------------+
| cpu|     event_datetime|free_memory|server_id|session_count|
+----+-------------------+-----------+---------+-------------+
|0.57|03/05/2019 08:06:14|       0.51|      200|           47|
|0.47|03/05/2019 08:11:14|       0.62|      200|           43|
|0.56|03/05/2019 08:16:14|       0.57|      200|           62|
|0.57|03/05/2019 08:21:14|       0.56|      200|           50|
|0.35|03/05/2019 08:26:14|       0.46|      200|           43|
+----+-------------------+-----------+---------+-------------+

In [11]:
results.count()

5

Using new line \

In [14]:
results = spark.sql('SELECT server_id, session_count \
                                FROM vw_utilization \
                                WHERE session_count > 50')

In [15]:
results.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           62|
|      200|           62|
+---------+-------------+